<br/><br/>

<div class="container">
    <%= form_tag("/tweet/#{@tweet.id}/update") do %>
        <%= text_area_tag(:contents, @tweet.contents, size: "24x6") %>
        <input type="submit" value="re_tweet">
    <% end %>
</div>

