<div class="list-group">
    <% @tweets.each do |tweet| %>
        <%= link_to truncate(tweet.contents, length:13), "/tweet/#{tweet.id}", class: "list-group-item list-group-item-action" %>
        <!-- <%=tweet.created_at %> -->
    <% end %>
</div>