<!DOCTYPE html>
<html>
  <head>
    <title>Twitter01App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">twitter</h5>
      <!--<nav class="my-2 my-md-0 mr-md-3">-->
        <a href="/tweet"><img src="https://image.flaticon.com/icons/svg/733/733579.svg"></a>
        <a class="p-10 text-dark" href="#"><img scr="https://image.flaticon.com/icons/svg/34/34205.svg">Home</a>
        <a class="p-10 text-dark" href="#">Notifications</a>
        <a class="p-10 text-dark" href="#"><img src="https://image.flaticon.com/icons/svg/131/131155.svg">Messages</a>
        <input class="search-input" type="text" id="search-query" placeholder="Search Twitter" name="q" autocomplete="off" spellcheck="false" aria-autocomplete="list" aria-expanded="false" aria-owns="typeahead-dropdown-1">
        
      <!--</nav>-->
      <a class="btn btn-outline-primary" href="#">Sign up</a>&nbsp;&nbsp; 
      <a class="btn btn-outline-primary" href="/tweet/new">tweet</a>

    </div>
    <div class="container">
         <%= yield %>
    </div>
  </body>
</html>

